body {
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5F5;
}

header {
    background-color: #0A74DA;
    color: white;
    padding: 1em 0;
    text-align: center;
}

header nav ul {
    list-style-type: none;
    padding: 0;
}

header nav ul li {
    display: inline;
    margin: 0 1em;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
}

main {
    padding: 2em;
}

section {
    margin-bottom: 2em;
}

#stock-data, #comparison-data, #alerts-data, #favorites-data {
    background: white;
    padding: 1em;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}