body {
    font-family: 'Roboto', sans-serif;
    background-color: #f8f9fa;
}

.navbar-brand {
    font-weight: bold;
    font-size: 1.5rem;
}

.navbar-nav .nav-link {
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    transition: background-color 0.3s ease;
}

.navbar-nav .nav-link:hover {
    background-color: #555;
}

.navbar-nav .active .nav-link {
    background-color: #555;
}

.news-article {
    margin-bottom: 20px;
}

.news-article img {
    max-width: 100%;
    height: auto;
}

.news-article h3 {
    font-size: 1.5rem;
    margin-top: 10px;
}

.news-article p {
    font-size: 1rem;
    margin-top: 5px;
}

#news-section {
    margin-bottom: 40px;
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

#quotes-container {
    margin-top: 20px;
}

.history-item {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 10px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 200px;
    background-color: #f9f9f9;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.history-item:hover {
    background-color: #495057;
}

.history-item .delete-btn {
    margin-left: 10px;
    cursor: pointer;
    color: #ff0000;
}

.history-item .delete-btn:hover {
    color: #ff4d4d;
}

/* Estilos para el formulario */
#stockForm {
    background-color: #f8f9fa;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}

/* Estilos para la tabla en el formulario */
#stockForm .table, #randomSymbols .table {
    margin-top: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
}

#stockForm .table th, 
#stockForm .table td, 
#randomSymbols .table th, 
#randomSymbols .table td {
    vertical-align: middle;
    text-align: center;
}

#stockForm .table thead, #randomSymbols .table thead {
    background-color: #343a40;
    color: white;
}

#stockForm .table tbody tr, #randomSymbols .table tbody tr {
    background-color: #ffffff;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

#stockForm .table tbody tr:hover, #randomSymbols .table tbody tr:hover {
    background-color: #f1f1f1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.container {
    margin-top: 30px;
}

.navbar-brand, .nav-link {
    font-weight: bold;
}

#welcomeMessage {
    margin-bottom: 20px;
}